%table.table
  %tr.table-info
    %th= Building.human_attribute_name(:id)
    %th= Building.human_attribute_name(:position)
    %th= t('control')
  - @buildings.each do |building|
    %tr.bg-success
      %td= building.id
      %td= building.position
      %td= link_to t('.view'), admin_building_path(building)
= link_to t('.back'), admin_root_path, :class => "btn btn-info"
= link_to t('.create'), new_admin_building_path, :class => "btn btn-info"
