= simple_form_for @patient, url: admin_patient_path(@patient.id) do |f|
  = f.input :first_name
  = f.input :last_name
  = f.input :sur_name
  = f.input :phone_number
  = f.input :address
  = f.association :status
  = f.association :watcher
  = f.button :submit, :class => "btn btn-outline-secondary"
= link_to t('.back'), admin_patients_path, :class => "btn btn-outline-secondary"
