%table.table
  %thead
    %tr
      %td= Contact.human_attribute_name(:id)
      %td= Contact.human_attribute_name(:name)
      %td= Contact.human_attribute_name(:phone_number)
      %td= Contact.human_attribute_name(:patient)
  %tbody
    %tr
      %th= @contact.id
      %th= @contact.name
      %th= @contact.phone_number
      %td= @contact.patient.first_name
%b= link_to t('.back'), admin_contacts_path, :class => 'btn btn-info'
