= link_to t('.list_admin'), admin_admins_path, :class => "btn btn-outline-secondary mr-1 mt-1"
= link_to t('.list_statuses'), admin_statuses_path, :class => "btn btn-outline-secondary mr-1 mt-1"
= link_to t('.list_patients'), admin_patients_path, :class => "btn btn-outline-secondary mr-1 mt-1"
= link_to t('.list_watcheres'), admin_watchers_path, :class => "btn btn-outline-secondary mr-1 mt-1"
= link_to t('.list_categories'), admin_categories_path, :class => "btn btn-outline-secondary mr-1 mt-1"
= link_to t('.list_usefulvideos'), admin_usefulvideos_path, :class => "btn btn-outline-secondary mr-1 mt-1"
= link_to t('.list_usefultexts'), admin_usefultexts_path, :class => "btn btn-outline-secondary mr-1 mt-1"

