= link_to t('.list_admin'), admin_admins_path, :class => "btn btn-info"
= link_to t('.list_statuses'), admin_statuses_path, :class => "btn btn-info"
= link_to t('.list_patients'), admin_patients_path, :class => "btn btn-info"
= link_to t('.list_watcheres'), admin_watchers_path, :class => "btn btn-info"
= link_to t('.list_sickneses'), admin_sicknesses_path, :class => "btn btn-info"
= link_to t('.list_histories'), admin_histories_path, :class => "btn btn-info"
