%table.table
  %tr.table-info
    %th= Street.human_attribute_name(:id)
    %th= Street.human_attribute_name(:name)
    %th= t('control')
  - @streets.each do |street|
    %tr.bg-success
      %td= street.id
      %td= street.name
      %td= link_to t('.view'), admin_street_path(street)
= link_to t('.back'), admin_root_path, :class => "btn btn-info"
= link_to t('.create'), new_admin_street_path, :class => "btn btn-info"
