= simple_form_for @usefultext, url: admin_usefultexts_path do |f|
  = f.input :title
  = f.input :description
  = f.association :category
  = f.button :submit, :class => "btn btn-outline-secondary"
= link_to t('.back'), admin_usefultexts_path, :class => "btn btn-outline-secondary"
