%table.table
  %tr.table-info
    %th= Status.human_attribute_name(:id)
    %th= Status.human_attribute_name(:name)
    %th= t('control')
  - @statuses.each do |status|
    %tr.bg-success
      %td= status.id
      %td= status.name
      %td= link_to t('.view'), admin_status_path(status)
= link_to t('.back'), admin_root_path, :class => "btn btn-info"
= link_to t('.create'), new_admin_status_path, :class => "btn btn-info"
