%table.table
  %tr.table-info
    %th= Admin.human_attribute_name (:id)
    %th= Admin.human_attribute_name (:email)
    %th= t('control')
  - @admins.each do |admin|
    %tr.bg-success
      %td=admin.id
      %td=admin.email
      %td=link_to t('.view profile'), admin_admin_path(admin)

= link_to t('.back'), admin_root_path, :class => "btn btn-info"
= link_to t('.create new'), new_admin_admin_path, :class => "btn btn-info"




