%table.table.table-striped.table-hover
  %thead
    %tr
      %th= Watcher.human_attribute_name(:first_name)
      %th= Watcher.human_attribute_name(:last_name)
      %th= Watcher.human_attribute_name(:sur_name)
      %th= Watcher.human_attribute_name(:phone_number)
      %th= Watcher.human_attribute_name(:email)
  %tbody
    %tr
      %th= @watcher.first_name
      %th= @watcher.last_name
      %th= @watcher.sur_name
      %th= @watcher.phone_number
      %th= @watcher.email
%b= link_to t('.back'), admin_watchers_path, :class => 'btn btn-outline-secondary'
