%table.table
  %tr.table-info
    %th= Sickness.human_attribute_name(:id)
    %th= Sickness.human_attribute_name(:name)
    %th= t('control')
  - @sicknesses.each do |sickness|
    %tr.bg-success
      %td= sickness.id
      %td= sickness.name
      %td= link_to t('.view'), admin_sickness_path(sickness)
.btn.btn-light
  = link_to t('.back'), admin_root_path, :class => "btn btn-info"
.btn.btn-light
  = link_to t('.create'), new_admin_sickness_path, :class => "btn btn-info"
